body {
  margin: 0;
}

.ndzy-layout {
  background-color: #f7f9fb;
}

.w-100 {
  width: 100%;
}

.sky-blue {
  color: skyblue;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-16 {
  padding: 16px;
}

.layout-content {
  height: 100vh;
  overflow-y: hidden;
}
